!!!
%html{:lang => "en", "ng-app" => "adminApp"}
  %head
    %title= $lab_name
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", "name" => "viewport"}
    %link{:href => "stylesheets/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/select.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/app.css?#{$lab_cache_buster}", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "javascripts/lib/angular.min.js"}
    %script{:src => "javascripts/lib/angular-resource.min.js"}
    %script{:src => "javascripts/lib/ui-bootstrap-tpls-0.13.0.min.js"}
    %script{:src => "javascripts/lib/select.js"}
    %script{:src => "javascripts/lib/lodash.min.js"}
    %script{:src => "javascripts/lib/ZeroClipboard.min.js"}
    %script{:src => "javascripts/lib/ng-clip.min.js"}
    %script{:src => "javascripts/admin.js?#{$lab_cache_buster}"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{"ng-controller" => "AdminController"}
    = yield